//$custom-padding3: 105px;

//.pb-8 {
    //padding-top: 105px;
//}

//$info-bg: $blush-pink;

.contact-section {
    padding: 108px 0 101px;

    .contact-form {
        .form-group {
            margin-bottom: 1.4rem;

            .form-control {
                background-color: rgba(245, 245, 245, 1);
                padding: 11px 20px;
                line-height: 28px;
                border-radius: 0;
                box-sizing: border-box;
                border: none;

                &::placeholder {
                    color: #000; 
                    font-style: italic;
                }

            }
        }
        .btn{
            border-radius: 0;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 1rem 2rem;
            letter-spacing: 3px;
            line-height: 24px;
            margin-top: 8px;
        }
    }
    .contact-map{
        iframe{
            width: 100%;
            height: 100%;
            border:0;
            min-height: 509px;
        }
    }

}
.contact-info{
    box-sizing: border-box;
    background-color: rgba(236, 217, 217, 1);
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .contact-data{
        font-family: 'Lato', sans-serif;
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 1.9rem;
        align-items: center;
        &:hover {
            color: blue;
        }
    }
}