.hero-section{
    padding: 159px 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto 100%;
   .hero-content{
       .hero-title{
           font-family: $playfairdisplay;
           font-weight: 500;
           font-size: 60px;
           line-height: 68px;  
           margin-bottom: 59px;
       }
       
   }
       
}