.service-page{
    padding: 159px 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto 100%;
    .hero-content{
        .hero-title{
            padding: 28.6rem auto;
            font-size: 6rem;
            font-family: $playfairdisplay;
            line-height: 6.8rem;
            font-weight: 500;
            //align-items: center;
            text-align: center;
            color: rgba(255, 255, 255, 1);
           
        }
    }
}



